.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 820px;
  font-family: Lato;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
}
.title {
  font-size: 18.75pt;
  font-weight: 300;
  color: rgb(128,128,128);
  line-height: 22.50pt;
  margin: 6% 10px;
}
.photographs {
  display: flex;
  margin: 5% 0px;
}
.photoPosition {
  min-width: 270px;
  min-height: 270px;
  position: relative;
}
.photo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content {
  margin: 0px 5%;
}
.type {
  font-size: 12.00pt;
  font-weight: 400;
  color: rgb(128,128,128);
  line-height: 20.16pt;
}
.name {
  font-size: 12.00pt;
  font-weight: 400;
  color: rgb(0,0,0);
  line-height: 20.16pt;
}
.comment {
  margin: 30px 0px;
  font-size: 10.50pt;
  font-weight: 400;
  color: rgb(0,0,0);
  line-height: 21.42pt;
}
button {
  border: 1px solid rgb(192,192,192);
  background-color: rgb(255,255,255);
  display: inline-block;
  overflow: hidden;
  outline: 0;
  width: 148px;
  height: 40px;  
}
.button {
  font-size: 12.00pt;
  font-weight: 400;
  color: rgb(128,128,128);
  line-height: 14.40pt;
  text-indent: 0;
  text-align: center;
}
.button:hover {
  background-color: rgb(192,192,192);
  border-color: rgb(0,0,0);
  color: rgb(255,255,255);
  cursor: pointer;
}