.root {
  float: right;
  margin: 20px 60px;
}

.link {
  font-family: Lato;
  display: inline-block;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 12.00pt;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 15.84pt;
  letter-spacing: normal;
}
.about {
  font-family: Lato;
  display: inline-block;
  text-decoration: none;
  font-size: 12.00pt;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 15.84pt;
  letter-spacing: normal;
  padding: 7px 35px;
}
.about:hover,
.link:hover {
  background-color: rgba(205, 222, 232, 0.99);
}

