.root {
  float: right;
  margin: 0 22%;
}

.menuBar {
  margin-top: 15px;
  background-color: white !important;
  border-color: white !important;
  font-family: 'Lato';
}

.link {
  display: inline-block;
  font-size: 12pt;
  font-weight: 400;
  color: #000 !important;
  line-height: 15.84pt;
  cursor: pointer;
}

.about {
  font-size: 12pt;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 15.84pt;
  padding: 0 25px;
}

.about:hover,
.link:hover {
  background-color: rgba(205, 222, 232, 0.99) !important;
  color: #000 !important;
  text-decoration: none !important;
}

.about:focus,
.link:focus {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}
