
@import '../variables.css';

.root {
  background: #fff;
  color: #000;
}
.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}
.firstPhotoToken {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}
.content {
  width: 47%;
  font-family: Lato;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-align: left;
}
.bigTitle {
  font-size: 26.25pt;
  font-weight: 300;
  color: rgb(128,128,128);
  line-height: 25.20pt;
}
.comment {
  font-size: 10.50pt;
  font-weight: 400;
  color: rgb(0,0,0);
  line-height: 21.42pt;
  margin: 28px 0px;
}
.normalTitle {
  font-size: 22.50pt;
  font-weight: 300;
  color: rgb(128,128,128);
  line-height: 27.00pt;
}
button {
  border: 1px solid rgb(192,192,192);
  background-color: rgb(255,255,255);
  display: inline-block;
  overflow: hidden;
  outline: 0;
  width: 148px;
  height: 40px;  
}
.button {
  font-size: 12.00pt;
  font-weight: 400;
  color: rgb(128,128,128);
  line-height: 14.40pt;
  text-indent: 0;
  text-align: center;
  margin: 20px 0px;
}
.button:hover {
  background-color: rgb(192,192,192);
  border-color: rgb(0,0,0);
  color: rgb(255,255,255);
  cursor: pointer;
}
.photoList {
  margin-top: -95px;
}
.explain {
  font-size: 8.25pt;
  font-weight: 400;
  color: rgb(128,128,128);
  line-height: 9.90pt;
  width: 120%;
  margin: 20px 0px;
}
.viewAll {
  font-family: Lato;
  font-size: 8.25pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  color: rgb(128,128,128);
  line-height: 9.90pt;
  letter-spacing: normal;
  float: left;
  margin-left: 45px;
  cursor: pointer;
}
.secondPhotoToken {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}
.whatPhotoToken {
  width: 60%;
  text-align: left;
  margin-top: -7px;
}

.whyPhotoToken {
  text-align: left;
  width: 93%;
  margin-top: 
}
.futurePhotoToken {
  text-align: left;
  width: 92%;
  margin-top: 100px;
}
.startBidding {
  margin-top: 50px;
  border: 0;
  background-color: rgb(64,64,64);
}
.comment_last {
  font-size: 10.50pt;
  font-weight: 400;
  color: rgb(0,0,0);
  line-height: 21.42pt;
  color: #fff;
  padding: 33px 80px;
  text-align: left;
}
.button_last {
  color: #fff;
  margin: 40px 0px;
  border: 1px solid rgb(192,192,192);
  background-color: rgb(64,64,64);
  display: inline-block;
  overflow: hidden;
}
.button_last:hover {
  background-color: rgb(192,192,192);
  border-color: rgb(0,0,0);
  color: rgb(255,255,255);
  cursor: pointer;
}