.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 820px;
  font-family: Lato;
  font-style: normal;
  text-decoration: none;
  letter-spacing: normal;
}

.title {
  font-size: 18.75pt;
  font-weight: 300;
  color: rgb(128, 128, 128);
  line-height: 22.5pt;
  margin: 35px 15px;
}

.marketBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
